$white: #ffffff;
$black: #000000;
$lightGreen: #8AD191;
$green: #B3F95A;
$blue: #0D89B0;
$secondaryBlue: #7FAFF6;
$secondaryLightBlue: #A5C7F9;
$lightBlue: #88B5BF;
$grey: #C0DBD9;
$lightGrey: rgba(243, 247, 250, 0.8);
