extends ../_layout.pug

block page
	section.block-1
		.block-1_item
		.block-1_item
		.block-1_item
		.block-1_item
		.block-1_item
	section.block-2
		.block-2_item
		.block-2_item
		.block-2_item
		.block-2_item
