header.header
	.header_popup.popup
		input(type='radio' id='popup-open' name='popup-button').popup_open-radio
		input(type='radio' id='popup-close' name='popup-button').popup_close-radio
		.popup_wrapper
			.popup_content
				label(for='popup-close').popup_label.popup_label-close Х
				h2.popup_title Pop-up
		label(for='popup-open').popup_label Open pop-up button

