.container {
	display: flex;
	margin: 0 auto;
	max-width: 1200px;
	padding: 0 15px;
	height: auto;
	min-height: 100%;
	background-color: $grey;

	&-content {
		margin: 0 auto;
		max-width: 864px;
		padding: 0 32px;
	}
}

@media screen and (max-width: 768px) {
	.container {
		padding: 0 20px;

		&-content {
			padding: 0 20px;
		}
	}
}

@media screen and (max-width: 570px) {
	.container {
		&-content {
			padding: 0;
		}
	}
}
